/* generics */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.text-property {
  text-align: center;
  padding: 30px;
  font-size: 70px;
}

.text-propriety-sottotitolo {
  text-align: center;
  font-size: 40px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
